@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inputGrey: rgba(245, 245, 245, 1);
  --copyright: rgba(255, 255, 255, 0.1);
  --blueTrans: rgba(114, 191, 255, 0.7);
  --blackTrans: rgba(0, 0, 0, 0.5);
  --yellowTrans: rgba(255, 250, 114, 0.7);
  --seeText: #9e9e9e;
  --disableBg: #ebebeb;
  --disabledText: #bfbfbf;
  --inputBorder: #dcdcdc;
  --borderGrey: #f5f4f4;
  --borderGrey2: #dddbdc;
  --inputTextGray: #b1b1b1;
  --inputIconGrey: #909090;
  --deleteGrey: #737373;
  --authBg: #f9f9f9;
  --sizebox: #f5f4f4;
  --authGreyText: #575757;
  --disabledTextDark: #7b7b7b;
  --border: #212121;
  --priceGreen: #4d8b00;
  --inputGreyDark: #0d0d0d;
  --inputTextDark: #636363;
  --redOff: #d0021b;
  --primary: #ffbc13;
  --yellowShadow: #ff9523;
  --textGrey: #ebebeb;
  --grey1: #595448;
  --black25: rgba(0, 0, 0, 0.25);
  --black50: rgba(0, 0, 0, 0.5);
  --black75: rgba(0, 0, 0, 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inputGrey: var(--inputGrey);
  --color-copyright: var(--copyright);
  --color-blueTrans: var(--blueTrans);
  --color-yellowTrans: var(--yellowTrans);
  --color-border: var(--border);
  --color-inputBorder: var(--inputBorder);
  --color-inputTextGray: var(--inputTextGray);
  --color-inputIconGrey: var(--inputIconGrey);
  --color-disableBg: var(--disableBg);
  --color-borderGrey: var(--borderGrey);
  --color-borderGrey2: var(--borderGrey2);
  --color-disabledText: var(--disabledText);
  --color-deleteGrey: var(--deleteGrey);
  --color-authBg: var(--authBg);
  --color-sizebox: var(--sizebox);
  --color-authGreyText: var(--authGreyText);
  --color-disabledTextDark: var(--disabledTextDark);
  --color-blackTrans: var(--blackTrans);
  --color-seeText: var(--seeText);
  --color-priceGreen: var(--priceGreen);
  --color-inputTextDark: var(--inputTextDark);
  --color-inputGreyDark: var(--inputGreyDark);
  --color-redOff: var(--redOff);
  --color-grey1: var(--grey1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Archivo";
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
}

.scroll-vertical {
  overflow-y: scroll;
}

.scroll-vertical::-webkit-scrollbar {
  width: 12px;
  background: #00000016;
  border-radius: 99;
}

.scroll-vertical::-webkit-scrollbar-thumb {
  width: 12px;
  background: #000;
  border-radius: 100px;
}

@media (max-width: 600px) {
  .scroll-vertical::-webkit-scrollbar {
    width: 6px;
    background: #00000016;
    border-radius: 99;
  }
  .scroll-vertical::-webkit-scrollbar-thumb {
    width: 6px;
    background: #000;
    border-radius: 100px;
  }
}

.max-height {
  max-height: calc(100% - 136px);
}

.container {
  @apply w-full lg:w-[86%] max-w-[1240px] mx-auto;
}

.authContainer {
  @apply w-[86%] max-w-[1560px] mx-auto;
}

.bg-top-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0)),
    url("../assets/images/authbg.png");
  width: 100%;
  /* height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
}

.side-gradient {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}
.top-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.top-gradient-full {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hoverActiveScale {
  @apply transition duration-200 transform hover:scale-[1.016] active:scale-[1];
}

.hoverActiveScale2 {
  @apply transition duration-200 transform hover:scale-[1.08] active:scale-[1];
}

.hoverActiveOpacity {
  @apply cursor-pointer hover:opacity-[80%] active:opacity-[90%] transition duration-300;
}

.hoverActiveUnderline {
  @apply cursor-pointer hover:underline active:no-underline transition duration-300;
}

.hoverActiveGrey {
  @apply cursor-pointer hover:bg-borderGrey active:bg-borderGrey2 transition duration-300;
}

.btns {
  transition: 0.3s ease-in-out;
  opacity: 0.1;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* mix-blend-mode: saturation; */
  /* animation: .3s slide-up linear once; */
}

.card:hover .btns {
  transition: 0.3s ease-in-out;
  opacity: 0.2;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* animation: .3s slide-up linear once; */
}
.card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

.card:active .btns {
  transition: 0.3s ease-in-out;
  opacity: 0.3;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation: .3s slide-up linear once; */
}

.sm-shad {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.ls26 {
  letter-spacing: 3.12px;
}

.cartOpen {
  @apply fixed top-0 z-[999999999] w-full bg-blackTrans h-screen flex items-center justify-end;
  animation: fade-in 0.3s ease-in none;
}

.cartClose {
  @apply fixed top-0 -z-[9999] w-full opacity-0 bg-blackTrans h-screen flex items-center justify-end;
  animation: fade-out 0.3s ease-in none;
}

.drawerOpen {
  @apply transition right-0 duration-300 w-[477px] h-full relative min-h-[500px] top-0 flex flex-col justify-between z-50 bg-background;
  animation: slide-in 0.3s ease-in none;
}
.drawerClose {
  @apply -right-[500px] transition duration-300 w-[477px] h-full relative min-h-[900px] top-0 flex flex-col justify-between z-50 bg-background;
  animation: slide-out 0.3s ease-in none;
}

.sliderOpen {
  @apply w-full h-screen bg-gray-200 top-[0%] z-[999] fixed left-0;
  animation: slide-in-vert 0.3s ease-in none;
}

.sliderClose {
  @apply w-full h-screen bg-gray-200 z-[999] -top-[100%] fixed left-0;
  animation: slide-out-vert 0.3s ease-in none;
}

@keyframes slide-in {
  from {
    opacity: 0;
    right: -500px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    right: 0px;
  }
  to {
    opacity: 0;
    right: -500px;
  }
}

@keyframes slide-in-vert {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes slide-out-vert {
  from {
    opacity: 1;
    top: 0%;
  }
  to {
    opacity: 0;
    right: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cont960 {
  @apply w-[90%] max-w-[960px] mx-auto;
}
.cont940 {
  @apply w-[90%] max-w-[940px] mx-auto;
}

.thin-border-centered {
  @apply flex items-center justify-center rounded-full border border-grey1;
}
.input {
  @apply w-full border-b text-white text-lg font-normal p-3;
}

.nav-btn {
  @apply w-[58px] h-[58px] flex items-center justify-center border-[0.5px] border-black rounded-full;
}

.hoverActive {
  @apply transition duration-200 hover:scale-[1.05] active:scale-100;
}

.lh100 {
  line-height: 100%;
}

.lh101 {
  line-height: 101.7%;
}
.lh151 {
  line-height: 151.7%;
}

.lh120 {
  line-height: 120%;
}
.lh150 {
  line-height: 150%;
}
.lh160 {
  line-height: 160%;
}

.ls1pz {
  letter-spacing: 1%;
}
.ls5pz {
  letter-spacing: 1%;
}

.shad {
  text-shadow: 1px 4px 5px orange;
}

.card-parent:hover .card-front {
  display: none;
}
.card-parent:hover .card-back {
  top: 0%;
}
.card-front {
  animation: growFade 0.5s ease-in;
}

.card-back {
  transition: 0.3s ease-in-out;
}

.parent:hover .child {
  opacity: 1;
}
